/* .card {
    border-radius: 16px;
}

.card-header {
    font-size: 1rem;
    font-weight: 600;
    background-color: #fff;
}

.table thead th {
    color: #6c757d;
    font-size: 0.875rem;
} */


.card-books {
    background-color: #0d6efd;
    color: white;
}

.card-purchased {
    background-color: #ffc107;
    color: black;
}

.card-users {
    background-color: #198754;
    color: white;
}
