/* .book-history {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.book-history h2 {
  margin-bottom: 20px;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th, .history-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.history-table img {
  height: 40px;
  width: 40px;
} */


.book-history h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table td,
.table th {
  vertical-align: middle;
}
