/* .book-history-container {
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 45px 305px;
}

.book-history-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.book-history-container th,
.book-history-container td {
    padding: 0.8rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.book-history-container th {
    background: #f4f4f4;
} */


/* History.css */
.table th,
.table td {
    vertical-align: middle;
}

h3 {
    font-family:Arial, Helvetica, sans-serif;;
}